{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Table</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div style="margin-top: 20px;">
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
</div>
    <h2 style="color: #333; text-align: center;">Employee of OUR Company</h2>
    <a href = "{% url 'add_Employee' %}" style = "float : right ; margin-right :50px;">Add Employee</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Salary</th>
                <th>Email</th>
                <th>Designation</th>
                <th>Manager</th>
                <th>Department</th>
                <th>Active ?</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for e in employees %}
            <tr>
                <td>{{e.id}}</td>
                <td>{{e.full_name}}</td>
                <td>{{e.salary}}</td>
                <td>{{e.email}}</td>
                <td>{{e.designation}}</td>
                <td>{{e.manager}}</td>
                <td>{{e.department}}</td>
                <td>
                    {% if e.is_active %}
                        <span style="color: green;">Active</span>
                    {% else %}
                        <span style="color: red;">Inactive</span>
                    {% endif %}
                </td>
                <td>
                    <div>
                        <a href = " {% url 'employee_detail' e.id %} "><i class="fa fa-eye"></i></a>
                        <a href = " {% url 'edit_Employee' e.id %} "><i class="fa fa-edit"></i></a>
                        <a href = ""><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>

</body>
</html>